<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
    <h1>回调页面url</h1>
	<button type="button" id="myBtn" onclick="call()">我的按钮</button>
</body>

</html>

<script>
    
<!--    function showMyText(id) {-->
<!--        window.alert("12345");-->
<!--    }-->
<!---->
<!--function changeBtnName(str) {-->
<!--    var btn = document.getElementById('myBtn');-->
<!--    btn.innerHTML = str;-->
<!--    -->
<!--}-->
function call() {
    window.webkit.messageHandlers.callback.postMessage({title:'测试分享的标题',content:'测试分享的内容',url:'http://www.baidu.com'});
}
</script>
