server:
  port: 8083
management:
  port: 3033
  context-path: /turbine
spring:
  mvc:
    throw-exception-if-no-handler-found: true
  http:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
hystrix:
  command:
    default:
     execution:
        isolation:
          thread:
            timeoutInMilliseconds: 10000
        timeout:
            enabled: false
redis:
  host: ${redis.host}
  port: ${redis.port}
  password: ${redis.password}
custom:
  operation:
    server: ${operation.server}
