<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="decorator/layout">

<body>
<div class="content" layout:fragment="content">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="header">
					<legend>消息详情</legend>
				</div>
				<div class="content">
					<form class="form-horizontal from-main">
						<fieldset>
							<div class="col-sm-1"></div>
							<div class="col-sm-1 columns-left">
								<p>ID</p>
							</div>
							<div class="col-sm-2 columns-right">
								<p id="messagingId" class="form-control-static" th:text="${messaging.id}"></p>
							</div>
							<div class="col-sm-2"></div>
							<div class="col-sm-1"></div>
							<div class="col-sm-1 columns-left">
								<p>标题</p>
							</div>
							<div class="col-sm-2 columns-right">
								<p class="form-control-static" th:text="${messaging.title}"></p>
							</div>
						</fieldset>
						<fieldset>
							<div class="form-group">
								<div class="col-sm-1"></div>
								<label class="col-sm-1 control-label">发布时间</label>
								<div class="col-sm-4">
									<p class="form-control-static" th:text="${#dates.format(messaging.createTime,'yyyy-MM-dd mm:HH:ss')}"></p>
								</div>
								<div class="col-sm-1"></div>
								<label class="col-sm-1 control-label">类型</label>
								<div class="col-sm-4">
									<p class="form-control-static" th:text="${messaging.messageType}"></p>
								</div>
							</div>
						</fieldset>
						<fieldset>
							<div class="form-group">
								<div class="col-sm-1"></div>
								<label class="col-sm-1 control-label">内容</label>
								<div class="col-sm-4">
									<p class="form-control-static" th:text="${messaging.content}"></p>
								</div>
							</div>
						</fieldset>
						
					</form>
				</div>
			</div>
		</div>
	</div>
	
</div>
</body>
</html>